.weather{
    border: 1px solid black;
    max-width: 600px;
    margin-top: 30px;
}
.degree{
    font-size: 50px;
}
ul{
    list-style-type:none;
}
section{
    margin-top: 10px;
    margin-left: 10px;
}
.date{
    margin-left:-23px ;
}
.descri{
    margin-left: -23px;
}